<div class="user-name d-flex">
  <label class="user-name__name">
    <% if url=="" %>
      <%= user.name %>
    <% else %>
      <%= link_to user.name, url %>
    <% end %>
  </label>
  <% if user.star_count >= 5 %>
      <div class="user-name__star">
  <% end %>
</div>