<div>
  <h2>
    <% if url=="" %>
      <%= user.name %>
    <% else %>
      <%= link_to user.name, url %>
    <% end %>
    <% if user.star_count == 5 %>
      <%= image_tag 'star.png' %>
    <% end %>
  </h2>
</div>