<div class="match-make-user match-make__user">
  <div class="match-make-user__image"></div>
  <p class="match-make-user__rank">
    <%= user.rank_i18n %>
  </p>
  <div class="match-make-user__name">
    <%= render partial: 'templates/user_name', locals: {user: user, url: ""} %>
  </div>
  <p class="match-make-user__average">
    <% average = 0 %>
    <% if user.total_answer_count>0 %>
      <% average = (user.total_nice_count.fdiv(user.total_answer_count)).floor(2) %>
    <% end %>
    平均ナイス獲得数 : <%= average %>個/答
  </p>
</div>