<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 mx-auto justify-content-center">
      <h1>お題</h1>
      <p id="question" data-question-room-ids=<%= @qr_ids %> data-question-room-bodies=<%= @qr_bodies %> data-current-qr-ids-answer-key="start" data-is-audience=<%= @is_audience %>></p>
    </div>
  </div>
  <div class="row">
    <%= text_area_tag :answer, "", {id:"answer-form", autofocus: true} %>
    <button id="submit">回答！</button>
  </div>
  <div class="row">
    <table class="col-lg-10 mx-auto answer-table table" id="answers">
    </table>
  </div>
</div>