<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <h1>お疲れ様でした！</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10">
      <div>
        <%= link_to '対戦結果詳細', result_path, class:"col-lg-3" %>
      </div>
      <div>
        <label>トップへ</label>
      </div>
    </div>
  </div>
</div>