<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10">
      <h1>マッチメイク！</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-12 d-flex justify-content-center" id="match-make" data-question-room-ids=<%= @qr_ids %>> <%#= 3部屋分のidを「(例):qr1_id」というキーで持たせる%>
    </div>
  </div>
</div>