<div class="container-fluid">
  <div class="row justify-content-center match-make">
    <div class="col-lg-12">
      <%= render partial: 'match_make_user', collection: @panelists, as: 'panelist' %>
    </div>
  </div>
</div>