.answer{
  width: 80%;

  %__nice{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
  }

  &__nice{
    @extend %__nice;
    background-image: image-url('dark-heart.png');

    &--active{
      @extend %__nice;
      background-image: image-url('heart.png') !important;
    }
  }


  &__total-nice-count{

  }
}