.answer-table{
  &__answer{
    width: 40%;
    height: 2rem;
  }

  &__nice{
    width: 5%;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-image: image-url('heart.png');
  }

  &__total-nice-count{
    width: 10%;
    height: 2rem;
  }
}