.navbar{
  // ハンバーガーアイコン
  &__icon{
    background-image: image-url('menu.png') !important;
  }

  &__inquiry{

    &--default{

    }

    &--unread{
      text-shadow: 1px 0 5px black;
    }
  }

  &__notice{
    &--default{

    }

    &--unread{
      text-shadow: 1px 0 5px;
    }
  }

}